# Agent Positions

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv(r"C:\Users\thkn\OneDrive - Esri Deutschland + Esri Schweiz\Documents\data\midnight_weekday_agents.csv")
df2 = pd.read_csv(r"C:\Users\thkn\OneDrive - Esri Deutschland + Esri Schweiz\Documents\data\early_weekday_agents.csv")

#### Anzahl der verschiedenen Personen

In [3]:
df["person"].nunique()

43

#### Anzahl der Personen, die an der Esri Niederlassung vorbeigelaufen sind

In [16]:
from arcgis.geocoding import geocode
geocode("Adenauerallee 206")

[{'address': 'Adenauerallee',
  'location': {'x': 7.82438, 'y': 51.68644},
  'score': 88.75,
  'attributes': {'Loc_name': 'World',
   'Status': 'T',
   'Score': 88.75,
   'Match_addr': 'Adenauerallee',
   'LongLabel': 'Adenauerallee, 59065, Hamm, Nordrhein-Westfalen, DEU',
   'ShortLabel': 'Adenauerallee',
   'Addr_type': 'POI',
   'Type': 'Parking',
   'PlaceName': 'Adenauerallee',
   'Place_addr': 'Adenauerallee, 59065, Hamm, Nordrhein-Westfalen',
   'Phone': '',
   'URL': '',
   'Rank': 22,
   'AddBldg': '',
   'AddNum': '',
   'AddNumFrom': '',
   'AddNumTo': '',
   'AddRange': '',
   'Side': '',
   'StPreDir': '',
   'StPreType': '',
   'StName': 'Adenauer',
   'StType': 'allee',
   'StDir': '',
   'BldgType': '',
   'BldgName': '',
   'LevelType': '',
   'LevelName': '',
   'UnitType': '',
   'UnitName': '',
   'SubAddr': '',
   'StAddr': 'Adenauerallee',
   'Block': '',
   'Sector': '',
   'Nbrhd': '',
   'District': '',
   'City': 'Hamm',
   'MetroArea': '',
   'Subregion': 'Hamm',
   'Region': 'Nordrhein-Westfalen',
   'RegionAbbr': 'NW',
   'Territory': '',
   'Zone': '',
   'Postal': '59065',
   'PostalExt': '',
   'Country': 'DEU',
   'CntryName': 'Deutschland',
   'LangCode': 'GER',
   'Distance': 0,
   'X': 7.82438,
   'Y': 51.68644,
   'DisplayX': 7.82438,
   'DisplayY': 51.68644,
   'Xmin': 7.81938,
   'Xmax': 7.82938,
   'Ymin': 51.68144,
   'Ymax': 51.69144,
   'ExInfo': '206'},
  'extent': {'xmin': 7.81938,
   'ymin': 51.68144,
   'xmax': 7.82938,
   'ymax': 51.69144}},
 {'address': 'Adenauerallee',
  'location': {'x': 8.58389, 'y': 50.20056},
  'score': 88.75,
  'attributes': {'Loc_name': 'World',
   'Status': 'T',
   'Score': 88.75,
   'Match_addr': 'Adenauerallee',
   'LongLabel': 'Adenauerallee, 61440, Oberursel (Taunus), Hessen, DEU',
   'ShortLabel': 'Adenauerallee',
   'Addr_type': 'POI',
   'Type': 'Parking',
   'PlaceName': 'Adenauerallee',
   'Place_addr': '61440, Oberursel (Taunus), Hessen',
   'Phone': '',
   'URL': '',
   'Rank': 22,
   'AddBldg': '',
   'AddNum': '',
   'AddNumFrom': '',
   'AddNumTo': '',
   'AddRange': '',
   'Side': '',
   'StPreDir': '',
   'StPreType': '',
   'StName': '',
   'StType': '',
   'StDir': '',
   'BldgType': '',
   'BldgName': '',
   'LevelType': '',
   'LevelName': '',
   'UnitType': '',
   'UnitName': '',
   'SubAddr': '',
   'StAddr': '',
   'Block': '',
   'Sector': '',
   'Nbrhd': '',
   'District': 'Oberursel (Taunus)',
   'City': 'Oberursel (Taunus)',
   'MetroArea': '',
   'Subregion': 'Hochtaunuskreis',
   'Region': 'Hessen',
   'RegionAbbr': 'HE',
   'Territory': '',
   'Zone': '',
   'Postal': '61440',
   'PostalExt': '',
   'Country': 'DEU',
   'CntryName': 'Deutschland',
   'LangCode': 'GER',
   'Distance': 0,
   'X': 8.58389,
   'Y': 50.20056,
   'DisplayX': 8.58389,
   'DisplayY': 50.20056,
   'Xmin': 8.57889,
   'Xmax': 8.58889,
   'Ymin': 50.19556,
   'Ymax': 50.20556,
   'ExInfo': '206'},
  'extent': {'xmin': 8.57889,
   'ymin': 50.19556,
   'xmax': 8.58889,
   'ymax': 50.20556}},
 {'address': 'Adenauerallee',
  'location': {'x': 9.512, 'y': 53.92168},
  'score': 88.75,
  'attributes': {'Loc_name': 'World',
   'Status': 'T',
   'Score': 88.75,
   'Match_addr': 'Adenauerallee',
   'LongLabel': 'Adenauerallee, 25524, Itzehoe, Schleswig-Holstein, DEU',
   'ShortLabel': 'Adenauerallee',
   'Addr_type': 'POI',
   'Type': 'Parking',
   'PlaceName': 'Adenauerallee',
   'Place_addr': '25524, Itzehoe, Schleswig-Holstein',
   'Phone': '+49 4821-6030',
   'URL': 'https://www.parkopedia.de/parken/parkplatz/adenauerallee/25524/itzehoe/?vendor=here',
   'Rank': 22,
   'AddBldg': '',
   'AddNum': '',
   'AddNumFrom': '',
   'AddNumTo': '',
   'AddRange': '',
   'Side': '',
   'StPreDir': '',
   'StPreType': '',
   'StName': '',
   'StType': '',
   'StDir': '',
   'BldgType': '',
   'BldgName': '',
   'LevelType': '',
   'LevelName': '',
   'UnitType': '',
   'UnitName': '',
   'SubAddr': '',
   'StAddr': '',
   'Block': '',
   'Sector': '',
   'Nbrhd': '',
   'District': 'Itzehoe',
   'City': 'Itzehoe',
   'MetroArea': '',
   'Subregion': 'Steinburg',
   'Region': 'Schleswig-Holstein',
   'RegionAbbr': 'SH',
   'Territory': '',
   'Zone': '',
   'Postal': '25524',
   'PostalExt': '',
   'Country': 'DEU',
   'CntryName': 'Deutschland',
   'LangCode': 'GER',
   'Distance': 0,
   'X': 9.512,
   'Y': 53.92168,
   'DisplayX': 9.512,
   'DisplayY': 53.92168,
   'Xmin': 9.507,
   'Xmax': 9.517,
   'Ymin': 53.91668,
   'Ymax': 53.92668,
   'ExInfo': '206'},
  'extent': {'xmin': 9.507,
   'ymin': 53.91668,
   'xmax': 9.517,
   'ymax': 53.92668}}]

#### authenticate / Anzeige der Karte

In [4]:
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)

from arcgis.gis import GIS
from getpass import getpass

In [5]:
gis = GIS("https://esridech.maps.arcgis.com/", client_id=getpass("Enter App-ID:  "), client_secret=getpass("Enter App-Secret:  "))
# print("Successfully logged in as: " + gis.properties.user.username)

Enter App-ID:  ········
Enter App-Secret:  ········

In [6]:
from arcgis.features import FeatureLayer

In [11]:
traffic_layer = FeatureLayer("https://services3.arcgis.com/JhD3NyxTJcNiae8J/arcgis/rest/services/Agent_Positions/FeatureServer/0")
traffic_layer_early = FeatureLayer("https://services3.arcgis.com/JhD3NyxTJcNiae8J/arcgis/rest/services/Agent_Positions_early_weekday/FeatureServer/0")

In [12]:
traffic_fset = traffic_layer.query()
traffic_fset2 = traffic_layer_early.query()

In [13]:
traffic_sdf = traffic_fset.sdf
traffic_sdf

,OBJECTID,id,trip,person,vehicle_type,distance_crossed,longitude,latitude,trip_time,SHAPE
0,1,1,16980,9987,<NA>,69450,7.094019,50.722946,2023-07-07T00:01:00,"{""x"": 7.094019480000043, ""y"": 50.7229459950000..."
1,2,2,16980,9987,<NA>,80799,7.094035,50.722944,2023-07-07T00:01:01,"{""x"": 7.094035188000021, ""y"": 50.7229437010000..."
2,3,3,16980,9987,<NA>,92148,7.094051,50.722941,2023-07-07T00:01:02,"{""x"": 7.094050895000066, ""y"": 50.7229414060000..."
3,4,4,16980,9987,<NA>,103497,7.094067,50.722939,2023-07-07T00:01:03,"{""x"": 7.094066603000044, ""y"": 50.7229391120000..."
4,5,5,16980,9987,<NA>,114846,7.094082,50.722937,2023-07-07T00:01:04,"{""x"": 7.094082310000033, ""y"": 50.7229368170000..."
...,...,...,...,...,...,...,...,...,...,...
23714,23715,23715,2823,1649,Bike,3200167,7.108047,50.724672,2023-07-07T00:59:59,"{""x"": 7.108046760000036, ""y"": 50.7246721010000..."
23715,23716,23716,15264,8972,Car,16793831,7.101051,50.741191,2023-07-07T00:59:59,"{""x"": 7.10105119800005, ""y"": 50.74119097100004..."
23716,23717,23717,13546,7960,Car,15284673,7.103023,50.734832,2023-07-07T00:59:59,"{""x"": 7.10302327200003, ""y"": 50.73483226300004..."
23717,23718,23718,13982,8226,Car,29674802,7.074514,50.731797,2023-07-07T00:59:59,"{""x"": 7.074513944000046, ""y"": 50.7317971000000..."
23718,23719,23719,12362,7261,<NA>,477115,7.105013,50.737144,2023-07-07T00:59:59,"{""x"": 7.10501320000003, ""y"": 50.73714420500005..."

In [14]:
traffic_sdf2 = traffic_fset2.sdf
traffic_sdf2

,OBJECTID,id,trip,person,vehicle_type,distance_crossed,longitude,latitude,trip_time,SHAPE
0,1,289641,12159,7144,Car,14857829,7.100637,50.74252,2023-07-07T07:00:00,"{""x"": 7.100636875000021, ""y"": 50.7425203540000..."
1,2,289642,14784,8703,Car,24533933,7.076043,50.733858,2023-07-07T07:00:00,"{""x"": 7.07604343600002, ""y"": 50.73385776300006..."
2,3,289643,16759,9853,Car,14583751,7.100598,50.723691,2023-07-07T07:00:00,"{""x"": 7.1005976150000265, ""y"": 50.723690523000..."
3,4,289644,10685,6280,Car,20673814,7.088181,50.741022,2023-07-07T07:00:00,"{""x"": 7.0881808470000465, ""y"": 50.741021664000..."
4,5,289645,12245,7195,Bike,11225393,7.085916,50.7454,2023-07-07T07:00:00,"{""x"": 7.085915896000074, ""y"": 50.7453996680000..."
...,...,...,...,...,...,...,...,...,...,...
1638803,1638804,1928444,16735,9838,<NA>,4595085,7.109301,50.72901,2023-07-07T07:59:59,"{""x"": 7.109301147000053, ""y"": 50.7290096750000..."
1638804,1638805,1928445,16737,9839,<NA>,5035159,7.106985,50.720964,2023-07-07T07:59:59,"{""x"": 7.106984848000025, ""y"": 50.7209636430000..."
1638805,1638806,1928446,16747,9845,<NA>,7644581,7.100186,50.735732,2023-07-07T07:59:59,"{""x"": 7.100185537000073, ""y"": 50.7357320670000..."
1638806,1638807,1928447,16865,9916,<NA>,8373806,7.089455,50.744676,2023-07-07T07:59:59,"{""x"": 7.089454817000046, ""y"": 50.7446755000000..."
1638807,1638808,1928448,16921,9952,<NA>,4520952,7.099597,50.739687,2023-07-07T07:59:59,"{""x"": 7.099596978000022, ""y"": 50.7396869870000..."